*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('nat.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
  height:90vh;
}
.container{
  width: 550px;
  height: 32px;
  background-color: rgb(0, 0, 0,0.6);
  margin: auto;
  /* margin-top: 23px; */
  color: #FFFFFF;
  padding: 10px 0 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}
h3{
  font-size: 5vh;
    font-family: sans-serif;
    color: rgb(231, 142, 41);
}
.form {
  background-color: rgb(0, 0, 0, 0.5);
  width: 550px;
  margin: auto;
  height: 50vh;
  
} 
form{
  padding: 38px;

}
#name{
  width: 100%;
  height: 30px;
}
.name{
  margin-left: -24px;
  margin-top: 30px;
  width: 125px;
  color: white;
  font-size: 30px;
  
}
.Full_name{
  position: relative;
    left: -3px;
    top: 2px;
    line-height: 35px;
    border-radius: 6px;
    padding: 0px 22px;
    width: 204px;
    height: 23px;
    font-size: 30px;
}
.Email{
  position: relative;
    left: -26px;
    top: 20px;
    line-height: 35px;
    border-radius: 6px;
    padding: 0px 22px;
    width: 204px;
    height: 23px;
    font-size: 30px;
}
#Email{
  width: 100%;
  height: 50px;
}
.Password{

  position: relative;
      left: -23px;
      top: 20px;
      line-height: 35px;
      border-radius: 6px;
      padding: 0px 22px;
      width: 204px;
      font-size: 30px;
      height: 23px;
      
}
#Password{
  width: 100%;
  height: 57px;
}
#Gender{
  width: 100%;
  height: 60px;
}
.Gender{
  position: relative;
      left: -26px;
      top: 20px;
      line-height: 35px;
      border-radius: 6px;
      padding: 0px 29px;
      
      font-size: 30px;
}
 

.Dob{
  position: relative;
      left: -36px;
      top: 5px;
      
      width: 258px;
      font-size: 28px;
}
.Dob1{
  width: 62px;
    height: 31px;
    font-size: 17px;
}
#Date{
  
    width: 100%;
    height: 28px;
}
.btn{
 
  height: 42px;
  margin-top: 15px;
  width: 118px;
  border-radius: 21px;
  position: relative;
  justify-content: center;
  text-align: center;
  font-size: 23px;
  background-image: linear-gradient(149deg,rgb(225 80 11),#000000f2);

}
